body {
    font-family: "Roboto","sans-serif";
    font-weight: 300;
    color: #0E1111;
    font-size: 16px;
}

b, strong {
    font-weight: bold !important;
}

a {
    color: #282878;
    text-decoration: underline;
    font-weight: 300;
}

a:not([class]) {
    text-decoration: underline;
    background-image: none;
}

a:not([class]):hover {
    background-image: none;
}

a.active {
    color: #F00078;
    font-weight: bold;
}

h1 {
    font-size: 50px !important;
    font-weight: 500 !important;
}

h2 {
    font-size: 28px !important;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.breadcrumb-nav .breadcrumb-nav-list-item {
    font-size: 14px !important;
    font-weight: 300;
}

.breadcrumb-nav-list-item a {
    color: #F00078;
}

.site-footer {
    display: none;
    width: 256px !important;
}

.site-header, .site-nav, .side-bar {
    width: 100% !important;
}

.site-logo {
    background-position: left center;
    max-height: 25px;
    background-size: auto;
}

.site-header {
    background-color: white;
    height: 80px;
    max-height: 80px;
}

.nav-list a {
    text-decoration: none;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(
-90deg
, #ebedf5 0%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%);
}

.nav-list .nav-list-item.active .nav-list-link.active,
.nav-list .nav-list-item > .nav-list .nav-list-item.active .nav-list-link.active { 
    color: #F00078 !important; 
}

.nav-list .nav-list-item:hover .nav-list-link:hover,
.nav-list .nav-list-item > .nav-list .nav-list-item:hover .nav-list-link:hover { 
    color: #282878 !important; 
    font-weight: 600;
}

.nav-list .nav-list-item .nav-list-link,
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link { 
    color: #0E1111 !important; 
}

.side-bar {
    border: none;
    background-color: #FAF9F6;
}

.aux-nav .aux-nav-list-item {
    display: flex !important;
    align-content: center;
    align-items: center;
}

.site-button {
    display: block;
    height: 40px;
    padding: 10px 20px;
    align-items: center;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    background-color: #F00078;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    transition: background-color .4s ease-out;
    text-decoration: none;
}

.aux-nav .aux-nav-list-item .site-button:hover { 
    background-image: none;
    background-color: #282878 !important; 
}

.nav-list .nav-list-item .nav-list-link,
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link { 
    color: #0E1111 !important; 
}

.wip {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    margin-top: 50px;
    color: #282878;
}

.main-content ol > li::before {
    color: #0E1111;
    font-weight: normal;
    font-size: 16px !important;
    top: 0em !important;
}

.main-content img {
    padding: 20px 0 20px 0;
}

@media print {
    .side-bar, .page-header { display: none; }
    .main-content { max-width: auto; margin: 1em;}
}

@media (min-width: 50rem) {
    .main {
        margin-left: 256px !important;
        max-width: 100%;
    }

    .main-header {
        height: 80px;
    }

    .nav-list .nav-list-item .nav-list-link {
        min-height: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .site-nav {
        padding-top: 40px !important;
    }

    .main-content-wrap {
        padding: 48px 80px 20px 80px;
    }

    .main-content {
        padding-top: 40px;
    }

    .main-content img {
        padding: 20px;
    }

    .breadcrumb-nav {
        margin-top: 0px;
    }

    .side-bar {
        min-width: 256px;
        width: 256px !important;
    }
}

@media (min-width: 66.5rem) {
    .side-bar {
        min-width: 256px;
        width: 256px !important;
    }

    .main .main-content-wrap .breadcrumb-nav, .main .main-content-wrap .main-content > *:not(.docs-html-content) {
        max-width: 800px;
    }
}