body {
    font-family: "Roboto","sans-serif";
    color: #0E1111;
}

a {
    color: #0E1111;
}

a.active {
    color: #F00078;
    font-weight: bold;
}

h1 {
    font-size: 50px !important;
    font-weight: 500 !important;
}

h2 {
    font-size: 28px !important;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

#breadcrumbs {
    font-size: 14px;
    font-weight: 300;
}

#breadcrumbs a {
    color: #F00078;
}

.site-footer {
    display: none;
    width: 256px !important;
}

.site-header, .site-nav, .side-bar {
    width: 100% !important;
}

.site-logo {
    background-position: left center;
    max-height: 25px;
    background-size: auto;
}

.site-header {
    background-color: white;
    height: 80px;
    max-height: 80px;
}

/*.side-bar .site-header .site-title::after {
    white-space: nowrap;
    content: "Documentation";
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    display: block;
    padding-left: 20px;
    font-family: "Roboto","sans-serif";
    border-left: 1px solid #cecece;
}*/

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(
-90deg
, #ebedf5 0%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%);
}

.aux-nav .aux-nav-list-item {
    display: flex !important;
    align-content: center;
    align-items: center;
}

.aux-nav .aux-nav-list-item .site-button {
    display: block;
    height: 40px;
    padding: 10px 20px;
    align-items: center;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    background-color: #F00078;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    transition: background-color .4s ease-out;
}

.side-bar {
    border: none;
    background-color: #FAF9F6;
}

@media print {
    .side-bar, .page-header { display: none; }
    .main-content { max-width: auto; margin: 1em;}
}

@media (min-width: 50rem) {
    .main {
        margin-left: 256px !important;
        max-width: 100%;
    }

    .main-header {
        height: 80px;
    }

    .nav-list .nav-list-item .nav-list-link {
        min-height: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (min-width: 66.5rem) {
    .side-bar {
        min-width: 256px;
        width: 256px !important;
    }
}
