<div class="main-html-content">
    <div class="main-section-row">
        <div class="main-grid-3cols">         
            <div class="raito-cloud-overview">
                <img src="/assets/images/cloud/icon_target.png" width="100">
                <h2>Value from Day 1</h2>
                <a href="/docs/cloud/connect_datasource">Connect to a data source</a><br>
                <a href="/docs/cloud/access_observability">Access observability</a><br>
                <a href="/docs/cloud/usage_observability">Usage observability</a><br>
            </div> 
            <div class="raito-cloud-overview">
                <img src="/assets/images/cloud/icon_productivity.png" width="100">
                <h2>Productivity first</h2>
                <a href="/docs/cloud/assign_data_owners">Assign data owners</a><br>
                <a href="/docs/cloud/request_access">Request access to data</a><br>
                <a href="/docs/cloud/approval_workflow">Approval workflow</a><br>
            </div>  
            <div class="raito-cloud-overview">
                <img src="/assets/images/cloud/icon_security.png" width="100">
                <h2>Compliance</h2>
                <a href="/docs/cloud/user_management">Raito user management</a><br>
                <a href="/docs/cloud/finegrained_access">Fine-grained access</a><br>
                <a href="/docs/cloud/audit">Audit</a><br>
            </div>
        </div>
    </div>
</div>
