<div class="footer">
    <div class="mycontainer">
        <div class="footer-grid">
            <div>
                <h2 class="footer-item-title">raito</h2>
                <div class="copyright">Copyright © <span class="current-year">2022</span>,</div>
                <div class="copyright">Raito BV | All rights reserved</div>
            </div>
            <div>
                <h3 class="footer-list-item footer-item-title">Docs</h3>
                <div>
                    <div role="list" class="footer-items">
                        <div role="listitem" class="footer-list-item"><a href="/" class="footer-link">Home</a></div>
                        <div role="listitem" class="footer-list-item"><a href="/docs/cli/intro" class="footer-link">Raito CLI</a></div>
                        <div role="listitem" class="footer-list-item"><a href="/docs/cloud/" class="footer-link">Raito Cloud</a></div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="footer-list-item footer-item-title">Legal</h3>
                <div class="w-dyn-list">
                    <div role="list" class="footer-items">
                        <div role="listitem" class="footer-list-item"><a href="https://www.raito.io/legal/privacy-policy" class="footer-link">Privacy Policy</a></div>
                        <div role="listitem" class="footer-list-item"><a href="https://www.raito.io/legal/cookies-policy" class="footer-link">Cookies Policy</a></div>
                        <div role="listitem" class="footer-list-item"><a href="https://www.raito.io/legal/terms-and-conditions" class="footer-link">Terms &amp; Conditions</a></div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="footer-list-item footer-item-title">Social</h3>
                <div class="footer-social-links">
                    <a href="https://github.com/raito-io" target="_blank" class="footer-logo-link w-inline-block">
                        <img src="/assets/icons/github/solid.svg" loading="lazy" alt="GitHub logo">
                    </a>
                    <a href="https://raitocommunity.slack.com" target="_blank" class="footer-logo-link w-inline-block">
                        <img src="/assets/icons/slack/solid.svg" loading="lazy" alt="Slack logo">
                    </a>                    
                    <a href="https://twitter.com/Raito_cyber" target="_blank" class="footer-logo-link w-inline-block">
                        <img src="/assets/icons/twitter/solid.svg" loading="lazy" alt="Twitter logo">
                    </a>
                    <a href="https://www.linkedin.com/company/raito-io/" target="_blank" class="footer-logo-link w-inline-block">
                        <img src="/assets/icons/linkedin/solid.svg" loading="lazy" alt="LinkedIn logo" class="image-3">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>