<div class="footer wf-section">
    <div class="mycontainer">
        <div class="w-layout-grid grid-footer">
            <div>
                <h3>Raito</h3>
                <div class="copyright">© <span class="current-year">2022</span>, Raito B.V.</div>
            </div>
            <div id="w-node-_5e26a632-898b-540b-caaa-f0afab394064-8d14a34b">
                <h3 class="footer-list-item">Docs</h3>
                <div id="w-node-a1a45446-38c6-a50b-6130-c1817af5e6f6-8d14a34b" class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="footer-list-item w-dyn-item"><a href="/" class="footer-link">Home</a></div>
                        <div role="listitem" class="footer-list-item w-dyn-item"><a href="/docs/cli/intro" class="footer-link">Raito CLI</a></div>
                        <div role="listitem" class="footer-list-item w-dyn-item"><a href="/docs/cloud/" class="footer-link">Raito Cloud</a></div>
                    </div>
                </div>
            </div>
            <div id="w-node-_5e26a632-898b-540b-caaa-f0afab394064-8d14a34b">
                <h3 class="footer-list-item">Legal</h3>
                <div id="w-node-a1a45446-38c6-a50b-6130-c1817af5e6f6-8d14a34b" class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="footer-list-item w-dyn-item"><a href="https://www.raito.io/legal/privacy-policy" class="footer-link">Privacy Policy</a></div>
                        <div role="listitem" class="footer-list-item w-dyn-item"><a href="https://www.raito.io/legal/cookies-policy" class="footer-link">Cookies Policy</a></div>
                        <div role="listitem" class="footer-list-item w-dyn-item"><a href="https://www.raito.io/legal/terms-and-conditions" class="footer-link">Terms &amp; Conditions</a></div>
                    </div>
                </div>
            </div>
            <div>
                <ul role="list" class="w-list-unstyled">
                    <li class="footer-list-item">
                        <h5>Social</h5>
                    </li>
                </ul>
                <div class="footer-social-links">
                    <a href="https://github.com/raito-io" target="_blank" class="footer-logo-link w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/6311ad440934f766683d4afd/631b9a04ae181fa4100afd3f_twitter.svg" loading="lazy" alt="Twitter logo">
                    </a>
                    <a href="https://raitocommunity.slack.com" target="_blank" class="footer-logo-link w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/6311ad440934f766683d4afd/631b9a04ae181fa4100afd3f_twitter.svg" loading="lazy" alt="Twitter logo">
                    </a>                    
                    <a href="https://twitter.com/Raito_cyber" target="_blank" class="footer-logo-link w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/6311ad440934f766683d4afd/631b9a04ae181fa4100afd3f_twitter.svg" loading="lazy" alt="Twitter logo">
                    </a>
                    <a href="https://www.linkedin.com/company/raito-io/" target="_blank" class="footer-logo-link w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/6311ad440934f766683d4afd/6329bd25ca40d37da188db7c_linkedin.svg" loading="lazy" alt="Linkeding logo" class="image-3">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>